

mixin assets(data)
 section.assets
   +section-header(assetsSection)
   .container
    h3.heading-2.assets__resources Ресурсы компании
    table.table
        tr.tr-flex
          th.heading-5.empty.col-0
          th.heading-5.col-1
          th.heading-5.col-2 Тонн, тыс. т
          th.heading-5.col-3 Содержание Au, г/т
          th.heading-5.col-4 Au, т
          th.heading-5.col-5 Au, тыс. унций
        - for (let i = 0; i < data.array.length; i++)
          tr.tr-flex
            td.heading-5.no-border.col-0!=data.array[i].place
            td.empty.col-1
            td.heading-5.col-2
              span!=data.array[i].resources.total.amount
            td.heading-5.col-3
              span!=data.array[i].resources.total.contents
            td.heading-5.col-4
              span!=data.array[i].resources.total.aurum
            td.heading-5.col-5
              span!=data.array[i].resources.total.ounces
          tr.tr-flex(class=(data.array[i].resources.expected && !data.array[i].resources.specified) ? "tr-flex--last" : null)
              td.col-0.no-border.empty(rowspan="3")
              td.text-14.col-1.category Предполагаемые
              td.text-14.col-2
                span!=data.array[i].resources.expected.amount
              td.text-14.col-3
                span!=data.array[i].resources.expected.contents
              td.text-14.col-4
                span!=data.array[i].resources.expected.aurum
              td.text-14.col-5
                span!=data.array[i].resources.expected.ounces
          if	data.array[i].resources.specified
            tr.tr-flex(class=(data.array[i].resources.specified && !data.array[i].resources.measured) ? "tr-flex--last" : null)
              td.empty.col-0.no-border(rowspan="3")
              td.text-14.col-1.category Указанные
              td.text-14.col-2
                span!=data.array[i].resources.specified.amount
              td.text-14.col-3
                span!=data.array[i].resources.specified.contents
              td.text-14.col-4
                span!=data.array[i].resources.specified.aurum
              td.text-14.col-5
                span!=data.array[i].resources.specified.ounces
          if	data.array[i].resources.measured
            tr.tr-flex.tr-flex--last
              td.empty.col-0(rowspan="3")
              td.text-14.col-1.category Измеренные
              td.text-14.col-2
                span!=data.array[i].resources.measured.amount
              td.text-14.col-3
                span!=data.array[i].resources.measured.contents
              td.text-14.col-4
                span!=data.array[i].resources.measured.aurum
              td.text-14.col-5
                span!=data.array[i].resources.measured.ounces
