-
  const historySectionData = {
    array: [
      {
       title: "2005",
       text: "Приобретена лицензия на разработку месторождения Наседкино (Забайкальский край)."
      },
      {
       title: "2006",
       text: "Приобретена лицензия на разработку Ильдиканской площади, включающей участок Савкинское (Забайкальский край)."
      },
      {
       title: "2007",
       text: "Приобретена лицензия на разработку россыпного и рудного золота на Золинско-Аркиинской площади (Забайкальский край)."
      },
      {
       title: "2008",
       text: "Приобретена лицензия на разработку месторождения Наседкино (Забайкальский край)."
      },
      {
       title: "2009",
       text: "Приобретена лицензия на разработку Ильдиканской площади, включающей участок Савкинское (Забайкальский край)."
      },
      {
       title: "2010",
       text: "Приобретена лицензия на разработку россыпного и рудного золота на Золинско-Аркиинской площади (Забайкальский край)."
      },
      {
       title: "2011",
       text: "Приобретена лицензия на разработку месторождения Наседкино (Забайкальский край)."
      },
      {
       title: "2012",
       text: "Приобретена лицензия на разработку Ильдиканской площади, включающей участок Савкинское (Забайкальский край)."
      },
      {
       title: "2013",
       text: "Приобретена лицензия на разработку россыпного и рудного золота на Золинско-Аркиинской площади (Забайкальский край)."
      },
      {
       title: "2014",
       text: "Приобретена лицензия на разработку месторождения Наседкино (Забайкальский край)."
      },
      {
       title: "2015",
       text: "Приобретена лицензия на разработку Ильдиканской площади, включающей участок Савкинское (Забайкальский край)."
      },
      {
       title: "2016",
       text: "Приобретена лицензия на разработку россыпного и рудного золота на Золинско-Аркиинской площади (Забайкальский край)."
      },
      {
       title: "2017",
       text: "Приобретена лицензия на разработку месторождения Наседкино (Забайкальский край)."
      },
      {
       title: "2018",
       text: "Приобретена лицензия на разработку Ильдиканской площади, включающей участок Савкинское (Забайкальский край)."
      },
      {
       title: "2019",
       text: "Приобретена лицензия на разработку россыпного и рудного золота на Золинско-Аркиинской площади (Забайкальский край)."
      },
      {
       title: "2020",
       text: "Приобретена лицензия на разработку месторождения Наседкино (Забайкальский край)."
      },
      {
       title: "2021",
       text: "Приобретена лицензия на разработку Ильдиканской площади, включающей участок Савкинское (Забайкальский край)."
      },
      {
       title: "2022",
       text: "Приобретена лицензия на разработку россыпного и рудного золота на Золинско-Аркиинской площади (Забайкальский край)."
      },
    ]
  }


mixin history(data)
 .history
   +section-header(historySection)
   .border-line
   .container
    .history__slider-container(data-history-slider-container)
      .history__slider.swiper(data-history-slider)
        .swiper-wrapper
         - for (let i = 1; i < data.array.length + 1; i++)
            .swiper-slide.history__item
              h3.heading-72.history__title!=data.array[i - 1].title
              p.text-14.history__text!=data.array[i - 1].text
              .slider-tools__pagination.nav-count(class=paginationMod, data-pagination)
                 span.caps-12.nav-count__current!=i
                 span.caps-12.nav-count__del=" / "
                 span.caps-12.nav-count__total!=data.array.length
      +slider-tools().history__tools
   .border-line
