-
  const miningData = {
    title: {
      text: `Мангазея Майнинг непрерывно работает<br> над увеличением объемов добычи`,
      secondText: `Мы непрерывно работаем<br> над увеличением объемов добычи`,
    },
    accent: {
      text: '6&nbsp;000&nbsp;000 тонн',
      secondText: '6&nbsp;млн тонн',
    },
    text: "Создаём мощный горноперерабатывающий кластер и&nbsp;ежегодно увеличиваем рост объёмов добычи и&nbsp;производства ценных металлов в&nbsp;действующих месторождениях.",
    leftBlock: {
      title: 'руды в год',
      text: `планируемая производственная мощность<br> предприятий компании к&nbsp;2027 году`,
    },
    rightBlock: {
      text: `Программа развития компании предусматривает<br> развитие четырёх действующих объектов<br> и&nbsp;введение в&nbsp;промышленную.`,
      link: {
        text: 'Подробнее об активах',
        href: '#',
      },
    },
  }

-
  const jobData = {
    title: {
      text: `Прямо сейчас на предприятиях<br> компании открыто:`,
    },
    accent: {
      text: '23&nbsp;ВАКАНСИИ',
      link: {
        href: '#',
      },
    },
    text: "Создаём мощный горноперерабатывающий кластер и&nbsp;ежегодно увеличиваем рост объёмов добычи и&nbsp;производства ценных металлов в&nbsp;действующих месторождениях.",
    leftBlock: {
      link: {
        text: '8&nbsp;800&nbsp;555&nbsp;33&nbsp;20',
        href: 'tel:+78005553320',
      },
      text: `Горячая линия по вопросам<br> трудоустройства`,
    },
    rightBlock: {
      text: `Программа развития компании предусматривает<br> рост объемов производства металла на&nbsp;действующем<br> производстве и&nbsp;введение в&nbsp;эксплуатацию.`,
      user: {
        href: '#',
        name: `hh.ru`,
        position: `Профиль Мангазея Майнинг<br> на Headhunter`,
        img: ['content/users', 'hh-logo-min', 'jpg', 72, 72, 'Фотография профиля'],
      },
      link: {
        text: 'Подробнее о&nbsp;карьере',
        href: '#',
        mod: 'is-hidden-des',
      },
    },
  }

  const assetsData = {
    title: {
      text: `Мангазея Майнинг непрерывно работает<br> над увеличением объемов добычи`,
      secondText: `Мы непрерывно работаем<br> над увеличением объемов добычи`,
    },
    accent: {
      text: '6&nbsp;000&nbsp;000 тонн',
      secondText: '6&nbsp;млн тонн',
    },
    text: "Создаём мощный горноперерабатывающий кластер и&nbsp;ежегодно увеличиваем рост объёмов добычи и&nbsp;производства ценных металлов в&nbsp;действующих месторождениях.",
    leftBlock: {
      title: 'руды в год',
      text: `планируемая производственная мощность<br> предприятий компании к&nbsp;2027 году`,
    },
    rightBlock: {
      text: `Программа развития компании предусматривает<br> развитие четырёх действующих объектов<br> и&nbsp;введение в&nbsp;промышленную.`,
    },
  }

mixin info-block(props)
  .info-block&attributes(attributes)
    .container
      if props.title.secondText
        p.text-18.info-block__top-text.info-block__top-text--des(data-sal="fade") !{props.title.text}
        p.text-18.info-block__top-text.info-block__top-text--mob(data-sal="fade") !{props.title.secondText}
      else
        p.text-18.info-block__top-text(data-sal="fade") !{props.title.text}
      .info-block__accent
        if props.accent.secondText
          p.info-block__accent-text.info-block__accent-text--des.number-120(data-sal="slide-up", data-words-animation) !{props.accent.text}
          p.info-block__accent-text.info-block__accent-text--mob.number-120(data-sal="slide-up", data-words-animation) !{props.accent.secondText}
          if props.accent.link
            +link-arrow(props.accent.link).link-arrow--big.link-arrow--accent
        else
          p.info-block__accent-text.number-120(data-sal="slide-up", data-words-animation) !{props.accent.text}
          if props.accent.link
            +link-arrow(props.accent.link).link-arrow--big.link-arrow--accent(data-sal="fade", style="--sal-delay: 0.5s;")
      .info-block__footer
        .info-block__left-col.left-col-info
          if props.leftBlock.link
            a.text-18.left-col-info__title(href=props.leftBlock.link.href, data-sal="fade") !{props.leftBlock.link.text}
          if props.leftBlock.title
            p.text-18.left-col-info__title(data-sal="fade") !{props.leftBlock.title}
          p.left-col-info__text.text-14(data-sal="fade") !{props.leftBlock.text}
        .info-block__right-col.right-col-info
          p.text-14.right-col-info__text(data-sal="fade") !{props.rightBlock.text}
          if props.rightBlock.user
            +user-card(props.rightBlock.user)(data-sal="fade")
          if props.rightBlock.link
            +link-arrow(props.rightBlock.link)(data-sal="fade")
