-
  const indexIntro = {
    titleDesc: "Разрабатываем перспективные месторождения Забайкальского края",
    titleMob: "Разрабатываем перспективные месторождения",
    headerDesc: "ДОБЫВАЕМ ЗОЛОТО С&nbsp;2011 года",
    headerMob: "ДОБЫВАЕМ ЗОЛОТО на&nbsp;месторождениях забайкальского края С&nbsp;2011 года",
    img: ['content/intro', 'index-intro', 'jpg', 1440, 900, 'Процесс отливки золота'],
  }

mixin intro(data)
  .intro
    .container
      if data.img
        .intro__img-wrp
          +picture(...data.img)
      .intro__inner
        if (data.titleDesc && data.titleMob)
          p.text-14.intro__title.intro__title--desc!=data.titleDesc
          p.text-14.intro__title.intro__title--mob!=data.titleMob
        else if data.title
          p.text-14.intro__title!=data.title

        if (data.headerDesc && data.headerMob)
          .intro__header-wrp
            p.heading-72.intro__header.intro__header--desc!=data.headerDesc
            p.heading-72.intro__header.intro__header--mob!=data.headerMob
        else if data.header
          p.heading-72.intro__header!=data.header
