mixin new-content (data)
  - const {intro, slider, video, textsTop, textsBottom} = data

  section.new-content
    .container
      .new-content__top
        .new-content__date
          span.new-content__date-number!=intro.dateNumber
          .new-content__date-text
            span!=intro.dateMonth
            span!=intro.dateYear
        .new-content__text-container
          h1.new-content__title!=intro.title
          p.new-content__intro-text!=intro.text
      .new-content__main
        .new-content__block(class=`new-content__block--slider`)
          +gallery-slider(slider.slides, "new")
        .text-content
          each item in textsTop
            +text-block(item)
        .new-content__block(class=`new-content__block--video`)
          .new-content__video.video
            +video-block(video)
              +video-btn({})
        .text-content
          each item in textsBottom
            +text-block(item)
