-
  const companyIntroSection = {
    title: "золотодобывающая компания,<br>ведущая деятельность на территории забайкальского края рф",
    titleMob: "компания, ведущая свою деятельность в Российской Федерации",
    header: "Компания",
    contentHeader: "",
    contentLeft: {
      linkDownload: true,
    },
    contentRight: {
      text16: "Программа развития компании предусматривает <br>рост объемов производства металла на уже действующем производстве и введение в промышленную эксплуатацию новых месторождений.",
    },
    img: ['content/section-intro', 'presentation', 'jpg', 1440, 780, 'Программа развития компании'],
  }

  const operationsIntroSection = {
    title: "текст в разработке. <br>этот заголовок может быть <br> длиной три строки текста",
    titleMob: "текст в разработке. этот заголовок может быть даже четыре строки",
    header: "активы",
    contentHeader: "",
    contentLeft: {
      card: true,
      title: "<span class='heading-72 section-intro__big-title'>3</span> актива",
      text: "действуют на территории <br>Забайкальского края РФ",
    },
    contentRight: {
      text18: "Программа развития компании предусматривает <br>рост объемов производства металла на уже действующем <br>производстве и введение в промышленную эксплуатацию <br>новых месторождений.",
    },
    contentRightTitle: "география <br>месторождений",
    contentRightUser: {
      name: `Гусев <br>Михаил Михайлович`,
      position: 'Генеральный директор Мангазея Майнинг',
      img: ['content', 'avatar', 'jpg', 72, 72, 'Фото человека'],
    },
    map: 'data/business-mining-2.json',
  }


mixin section-intro(data)
  section.section-intro&attributes(attributes)
    .container
      if data.header
        h1.caps-12.section-intro__header(data-sal="slide-up" data-words-animation)!=data.header
      if (data.title && data.titleMob)
        p.heading-1-caps.section-intro__title.section-intro__title--desc(data-sal="slide-up" data-words-animation)!=data.title
        p.heading-1-caps.section-intro__title.section-intro__title--mob(data-sal="slide-up" data-words-animation)!=data.titleMob
    .section-intro__content
      if data.contentLeft
        .section-intro__column
          if data.contentLeft.linkDownload
            +link-download({name:"скачать презентацию", href: "./pdf/MangazeyaGroup.pdf", size: "340 kb", ext: "pdf"})
          if data.contentLeft.card
            .section-intro__card
              span.heading-2-caps.section-intro__card-title!=data.contentLeft.title
              span.text-14.section-intro__card-text!=data.contentLeft.text
      if data.contentRight
        .section-intro__column
          if data.contentRightTitle
            h2.caps-12.section-intro__column-header!=data.contentRightTitle
          if data.contentRight.text16
            p.section-intro__text!=data.contentRight.text16
          if data.contentRight.text18
            p.text-18.section-intro__text!=data.contentRight.text18
          if data.contentRightUser
            +user-card(data.contentRightUser)
    .section-intro__interactive
      if data.img
        +picture(...data.img)
      if data.map
        +map-geography(data.map)
